In [2]:
import pandas as pd
import numpy as np

In [3]:
# Загрузка данных
df = pd.read_parquet("Задание/test_data.pqt")

city_code_dict = df.dropna(subset=['index_city_code']).drop_duplicates('city').set_index('city')['index_city_code'].to_dict()

# Функция для заполнения index_city_code на основе city
def fill_index_city_code(row):
    if pd.istest_dfnull(row['index_city_code']) and row['city'] in city_code_dict:
        return city_code_dict[row['city']]
    else:test_df
        return row['index_city_code']

# Применяем функцию к каждой строке DataFrame
df['index_city_code'] = df.apply(fill_index_city_code, axis=1)

columns_to_exclude = ['index_city_code']
# Выбор числовых столбцов, исключая 'index_city_code'
numeric_columns = df.select_dtypes(include=[np.number]).drop(columns=columns_to_exclude, errors='ignore').columns

# Выбор нечисловых столбцов, исключая 'index_city_code'
non_numeric_columns = df.select_dtypes(exclude=[np.number]).drop(columns=columns_to_exclude, errors='ignore').columns

# Проверяем, есть ли 'month_6' в столбце 'date'
if 'month_6' in df['date'].values:
    # Применяем интерполяцию ко всем числовым столбцам, исключая 'index_city_code'
    df.loc[:, numeric_columns] = df.loc[:, numeric_columns].interpolate(method='linear')
    
    # Заполнение нечисловых столбцов, исключая 'index_city_code', вперёд
    df.loc[:, non_numeric_columns] = df.loc[:, non_numeric_columns].fillna(method='ffill')
else:
    print('Упс, "month_6" не найден в столбце "date".')
df

,id,date,balance_amt_avg,balance_amt_max,balance_amt_min,balance_amt_day_avg,channel_code,city,city_type,index_city_code,...,sum_cred_g_oper_3m,cnt_cred_g_oper_3m,cnt_days_cred_g_oper_3m,sum_deb_h_oper_3m,cnt_deb_h_oper_3m,cnt_days_deb_h_oper_3m,sum_cred_h_oper_3m,cnt_cred_h_oper_3m,cnt_days_cred_h_oper_3m,start_cluster
0,200000,month_4,-0.096224,0.335496,-0.125995,-0.095578,channel_code_12,city_14,city_type_0,index_city_code_78,...,0.010952,0.946066,0.407762,-0.153950,0.548895,0.541020,0.031742,0.257278,0.561353,{α}
1,200000,month_5,-0.024255,-0.059806,-0.124295,-0.023381,channel_code_12,city_14,city_type_0,index_city_code_78,...,0.006812,0.945281,0.396267,-0.150505,0.549468,0.552131,0.237817,0.264211,0.715199,{α}
2,200000,month_6,0.045988,0.049418,-0.125995,0.047079,channel_code_12,city_14,city_type_0,index_city_code_78,...,0.006812,0.945281,0.396267,-0.152800,0.549468,0.541020,0.387566,0.268543,0.836079,{α}
3,200001,month_4,-0.156722,-0.204920,-0.125856,-0.156258,channel_code_9,city_76,city_type_0,index_city_code_59,...,-0.028584,0.946654,0.433624,-0.165588,0.550830,0.585465,-0.201123,0.265150,0.750914,{α}
4,200001,month_5,-0.156722,-0.204920,-0.125856,-0.156258,channel_code_9,city_76,city_type_0,index_city_code_59,...,-0.028584,0.948027,0.470980,-0.165588,0.552191,0.629909,-0.201123,0.261756,0.665749,{α}
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
290115,299998,month_5,-0.130322,-0.172570,-0.115292,-0.130325,channel_code_17,city_85,city_type_0,index_city_code_2,...,-0.028584,0.944497,0.384773,-0.165588,0.549397,0.546576,-0.201123,0.254823,0.484430,{}
290116,299998,month_6,-0.155350,-0.203711,-0.125995,-0.155980,channel_code_9,city_25,city_type_0,index_city_code_30,...,-0.028584,0.944497,0.384773,-0.165588,0.546889,0.407687,-0.201123,0.250924,0.374540,{}
290117,299999,month_4,-0.145899,-0.173298,-0.125995,-0.145402,channel_code_9,city_6,city_type_0,index_city_code_34,...,-0.028584,0.944497,0.384773,-0.097640,0.550901,0.574354,-0.101369,0.252657,0.440474,{α}
290118,299999,month_5,-0.136402,-0.163874,-0.121475,-0.135876,channel_code_9,city_6,city_type_0,index_city_code_34,...,-0.028584,0.944497,0.384773,-0.047885,0.555057,0.696576,-0.034860,0.253523,0.473441,{α}
290119,299999,month_6,-0.141660,-0.156818,-0.125894,-0.141149,channel_code_9,city_6,city_type_0,index_city_code_34,...,-0.028584,0.944497,0.384773,-0.028842,0.556919,0.796576,-0.011582,0.254101,0.495419,{α}

In [4]:
df.head(9)

,id,date,balance_amt_avg,balance_amt_max,balance_amt_min,balance_amt_day_avg,channel_code,city,city_type,index_city_code,...,sum_cred_g_oper_3m,cnt_cred_g_oper_3m,cnt_days_cred_g_oper_3m,sum_deb_h_oper_3m,cnt_deb_h_oper_3m,cnt_days_deb_h_oper_3m,sum_cred_h_oper_3m,cnt_cred_h_oper_3m,cnt_days_cred_h_oper_3m,start_cluster
0,200000,month_4,-0.096224,0.335496,-0.125995,-0.095578,channel_code_12,city_14,city_type_0,index_city_code_78,...,0.010952,0.946066,0.407762,-0.153950,0.548895,0.541020,0.031742,0.257278,0.561353,{α}
1,200000,month_5,-0.024255,-0.059806,-0.124295,-0.023381,channel_code_12,city_14,city_type_0,index_city_code_78,...,0.006812,0.945281,0.396267,-0.150505,0.549468,0.552131,0.237817,0.264211,0.715199,{α}
2,200000,month_6,0.045988,0.049418,-0.125995,0.047079,channel_code_12,city_14,city_type_0,index_city_code_78,...,0.006812,0.945281,0.396267,-0.152800,0.549468,0.541020,0.387566,0.268543,0.836079,{α}
3,200001,month_4,-0.156722,-0.204920,-0.125856,-0.156258,channel_code_9,city_76,city_type_0,index_city_code_59,...,-0.028584,0.946654,0.433624,-0.165588,0.550830,0.585465,-0.201123,0.265150,0.750914,{α}
4,200001,month_5,-0.156722,-0.204920,-0.125856,-0.156258,channel_code_9,city_76,city_type_0,index_city_code_59,...,-0.028584,0.948027,0.470980,-0.165588,0.552191,0.629909,-0.201123,0.261756,0.665749,{α}
5,200001,month_6,-0.156722,-0.204920,-0.125856,-0.156258,channel_code_9,city_76,city_type_0,index_city_code_59,...,-0.028584,0.949400,0.508336,-0.165588,0.553552,0.674354,-0.201123,0.258362,0.580584,{α}
6,200002,month_4,-0.096506,0.185905,-0.125995,-0.095856,channel_code_12,city_14,city_type_0,index_city_code_78,...,0.510730,0.950774,0.545693,0.715525,0.554913,0.718798,0.445811,0.254968,0.495419,{other}
7,200002,month_5,0.572242,1.502779,-0.125995,0.574963,channel_code_12,city_14,city_type_0,index_city_code_78,...,0.499912,0.949989,0.522704,2.442243,0.563940,0.841020,3.313686,0.256701,0.550364,{other}
8,200002,month_6,-0.048015,0.448252,-0.125995,-0.047215,channel_code_12,city_14,city_type_0,index_city_code_78,...,0.123154,0.946850,0.453739,2.614870,0.565087,0.818798,4.449125,0.258723,0.627287,{other}

In [4]:
X = pd.DataFrame()
for i in col:
    if df[i].dtype.name != 'object':
        X[i]=df[i].copy()
        X.loc[X[i].isna(), i]=X[i].median()
    else:
        X[i]=pd.factorize(df[i])[0]
df = X
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [balance_amt_avg, balance_amt_max, balance_amt_min, balance_amt_day_avg, channel_code, city, city_type, index_city_code, ogrn_days_end_month, ogrn_days_end_quarter, ogrn_month, ogrn_year, ft_registration_date, max_founderpres, min_founderpres, ogrn_exist_months, okved, segment, sum_of_paym_2m, sum_of_paym_6m, sum_of_paym_1y, sum_a_oper_1m, cnt_a_oper_1m, sum_b_oper_1m, cnt_b_oper_1m, sum_c_oper_1m, cnt_c_oper_1m, sum_deb_d_oper_1m, cnt_deb_d_oper_1m, sum_cred_d_oper_1m, cnt_cred_d_oper_1m, sum_deb_e_oper_1m, cnt_deb_e_oper_1m, cnt_days_deb_e_oper_1m, sum_cred_e_oper_1m, cnt_cred_e_oper_1m, cnt_days_cred_e_oper_1m, sum_deb_f_oper_1m, cnt_deb_f_oper_1m, cnt_days_deb_f_oper_1m, sum_cred_f_oper_1m, cnt_cred_f_oper_1m, cnt_days_cred_f_oper_1m, sum_deb_g_oper_1m, cnt_deb_g_oper_1m, cnt_days_deb_g_oper_1m, sum_cred_g_oper_1m, cnt_cred_g_oper_1m, cnt_days_cred_g_oper_1m, sum_deb_h_oper_1m, cnt_deb_h_oper_1m, cnt_days_deb_h_oper_1m, sum_cred_h_oper_1m, cnt_cred_h_oper_1m, cnt_days_cred_h_oper_1m, sum_a_oper_3m, cnt_a_oper_3m, sum_b_oper_3m, cnt_b_oper_3m, sum_c_oper_3m, cnt_c_oper_3m, sum_deb_d_oper_3m, cnt_deb_d_oper_3m, sum_cred_d_oper_3m, cnt_cred_d_oper_3m, sum_deb_e_oper_3m, cnt_deb_e_oper_3m, cnt_days_deb_e_oper_3m, sum_cred_e_oper_3m, cnt_cred_e_oper_3m, cnt_days_cred_e_oper_3m, sum_deb_f_oper_3m, cnt_deb_f_oper_3m, cnt_days_deb_f_oper_3m, sum_cred_f_oper_3m, cnt_cred_f_oper_3m, cnt_days_cred_f_oper_3m, sum_deb_g_oper_3m, cnt_deb_g_oper_3m, cnt_days_deb_g_oper_3m, sum_cred_g_oper_3m, cnt_cred_g_oper_3m, cnt_days_cred_g_oper_3m, sum_deb_h_oper_3m, cnt_deb_h_oper_3m, cnt_days_deb_h_oper_3m, sum_cred_h_oper_3m, cnt_cred_h_oper_3m, cnt_days_cred_h_oper_3m]
Index: []

[0 rows x 89 columns]

In [5]:
df.to_csv('results/nonNaN_test.csv', index=False)
f'DataFrame сохранен в файл'

NameError: name 'output_file_path' is not defined

In [6]:
# Загрузка данных
df = pd.read_parquet("Задание/train_data.pqt")

# Создаем словарь для заполнения index_city_code
city_code_dict = df.dropna(subset=['index_city_code']).drop_duplicates('city').set_index('city')['index_city_code'].to_dict()

# Функция для заполнения index_city_code на основе city
def fill_index_city_code(row):
    if pd.isnull(row['index_city_code']) and row['city'] in city_code_dict:
        return city_code_dict[row['city']]
    else:
        return row['index_city_code']

# Применяем функцию к каждой строке DataFrame
df['index_city_code'] = df.apply(fill_index_city_code, axis=1)

# Определяем столбцы для исключения из обработки
columns_to_exclude = ['index_city_code']
numeric_columns = df.select_dtypes(include=[np.number]).drop(columns=columns_to_exclude, errors='ignore').columns
non_numeric_columns = df.select_dtypes(exclude=[np.number]).drop(columns=columns_to_exclude, errors='ignore').columns

# Фильтруем строки, содержащие интересующие нас месяцы, и применяем операции к ним
months = ['month_1', 'month_2', 'month_3']
mask = df['date'].isin(months)
if mask.any():
    # Применяем интерполяцию ко всем числовым столбцам для отфильтрованных строк
    df.loc[mask, numeric_columns] = df.loc[mask, numeric_columns].interpolate(method='linear')
    
    # Заполнение нечисловых столбцов вперёд для отфильтрованных строк
    df.loc[mask, non_numeric_columns] = df.loc[mask, non_numeric_columns].fillna(method='ffill')
else:
    print('Упс, указанные месяцы не найдены в столбце "date".')

In [7]:
df[df.isnull().any(axis=1)]

,id,date,balance_amt_avg,balance_amt_max,balance_amt_min,balance_amt_day_avg,channel_code,city,city_type,index_city_code,...,cnt_cred_g_oper_3m,cnt_days_cred_g_oper_3m,sum_deb_h_oper_3m,cnt_deb_h_oper_3m,cnt_days_deb_h_oper_3m,sum_cred_h_oper_3m,cnt_cred_h_oper_3m,cnt_days_cred_h_oper_3m,start_cluster,end_cluster
36,12,month_1,-0.103713,-0.115648,-0.059054,-0.103085,channel_code_5,city_551,city_type_267,None,...,0.944889,0.396267,-0.148784,0.550041,0.496576,-0.136459,0.254101,0.484430,{α},{α}
37,12,month_2,-0.127156,-0.164704,-0.108795,-0.126601,channel_code_5,city_551,city_type_267,None,...,0.944497,0.384773,-0.151329,0.548895,0.485465,-0.153247,0.252946,0.440474,{α},{α}
38,12,month_3,-0.136924,-0.177745,-0.108795,-0.136399,channel_code_5,city_551,city_type_267,None,...,0.944497,0.384773,-0.155085,0.549325,0.507687,-0.151251,0.252657,0.440474,{α},{α}
63,21,month_1,0.088091,0.321707,-0.125995,0.089312,channel_code_2,city_4510,city_type_3632,None,...,0.944889,0.396267,0.067456,0.551904,0.618798,0.444558,0.253812,0.462452,"{α, ε, ψ}",{other}
64,21,month_2,-0.118796,0.098455,-0.125995,-0.118215,channel_code_2,city_4510,city_type_3632,None,...,0.944889,0.396267,0.163345,0.553767,0.685465,0.224857,0.253234,0.451463,"{α, ε, ψ}",{other}
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599749,199916,month_2,0.002893,-0.034993,0.188016,0.003851,channel_code_19,city_7133,city_type_6162,None,...,0.944497,0.384773,-0.165588,0.546889,0.407687,-0.019903,0.252079,0.418496,{α},{α}
599750,199916,month_3,-0.064813,-0.110076,-0.125228,-0.064065,channel_code_19,city_7133,city_type_6162,None,...,0.944497,0.384773,-0.165588,0.546889,0.407687,-0.084472,0.251790,0.407507,{α},{α}
599916,199972,month_1,-0.122328,-0.164297,-0.078280,-0.121758,channel_code_21,city_7694,city_type_6716,None,...,0.944497,0.384773,-0.165588,0.546889,0.407687,-0.201123,0.250924,0.374540,{α},{α}
599917,199972,month_2,-0.096764,-0.155950,0.008581,-0.096115,channel_code_21,city_7694,city_type_6716,None,...,0.944497,0.384773,-0.165588,0.546889,0.407687,-0.199893,0.251212,0.385529,{α},{α}
599918,199972,month_3,-0.115010,-0.155950,-0.046622,-0.114417,channel_code_21,city_7694,city_type_6716,None,...,0.944497,0.384773,-0.165588,0.546889,0.407687,-0.198654,0.252079,0.418496,{α},{α}

In [8]:
X = pd.DataFrame()
for i in col:
    if df[i].dtype.name != 'object':
        X[i]=df[i].copy()
        X.loc[X[i].isna(), i]=X[i].median()
    else:
        X[i]=pd.factorize(df[i])[0]
df = X
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [balance_amt_avg, balance_amt_max, balance_amt_min, balance_amt_day_avg, channel_code, city, city_type, index_city_code, ogrn_days_end_month, ogrn_days_end_quarter, ogrn_month, ogrn_year, ft_registration_date, max_founderpres, min_founderpres, ogrn_exist_months, okved, segment, sum_of_paym_2m, sum_of_paym_6m, sum_of_paym_1y, sum_a_oper_1m, cnt_a_oper_1m, sum_b_oper_1m, cnt_b_oper_1m, sum_c_oper_1m, cnt_c_oper_1m, sum_deb_d_oper_1m, cnt_deb_d_oper_1m, sum_cred_d_oper_1m, cnt_cred_d_oper_1m, sum_deb_e_oper_1m, cnt_deb_e_oper_1m, cnt_days_deb_e_oper_1m, sum_cred_e_oper_1m, cnt_cred_e_oper_1m, cnt_days_cred_e_oper_1m, sum_deb_f_oper_1m, cnt_deb_f_oper_1m, cnt_days_deb_f_oper_1m, sum_cred_f_oper_1m, cnt_cred_f_oper_1m, cnt_days_cred_f_oper_1m, sum_deb_g_oper_1m, cnt_deb_g_oper_1m, cnt_days_deb_g_oper_1m, sum_cred_g_oper_1m, cnt_cred_g_oper_1m, cnt_days_cred_g_oper_1m, sum_deb_h_oper_1m, cnt_deb_h_oper_1m, cnt_days_deb_h_oper_1m, sum_cred_h_oper_1m, cnt_cred_h_oper_1m, cnt_days_cred_h_oper_1m, sum_a_oper_3m, cnt_a_oper_3m, sum_b_oper_3m, cnt_b_oper_3m, sum_c_oper_3m, cnt_c_oper_3m, sum_deb_d_oper_3m, cnt_deb_d_oper_3m, sum_cred_d_oper_3m, cnt_cred_d_oper_3m, sum_deb_e_oper_3m, cnt_deb_e_oper_3m, cnt_days_deb_e_oper_3m, sum_cred_e_oper_3m, cnt_cred_e_oper_3m, cnt_days_cred_e_oper_3m, sum_deb_f_oper_3m, cnt_deb_f_oper_3m, cnt_days_deb_f_oper_3m, sum_cred_f_oper_3m, cnt_cred_f_oper_3m, cnt_days_cred_f_oper_3m, sum_deb_g_oper_3m, cnt_deb_g_oper_3m, cnt_days_deb_g_oper_3m, sum_cred_g_oper_3m, cnt_cred_g_oper_3m, cnt_days_cred_g_oper_3m, sum_deb_h_oper_3m, cnt_deb_h_oper_3m, cnt_days_deb_h_oper_3m, sum_cred_h_oper_3m, cnt_cred_h_oper_3m, cnt_days_cred_h_oper_3m]
Index: []

[0 rows x 89 columns]

In [9]:
df.to_csv('results/nonNaN_test.csv')
f'DataFrame сохранен в файл'

'DataFrame сохранен в файл'

In [11]:
df.date

AttributeError: 'DataFrame' object has no attribute 'date'